{% extends 'base.html' %}
{% load static %}
{% block title %}Смена пароля - CareerHub{% endblock %}


{% block content %}
<div class="login-section">
    <div class="login-container-wrapper">
        <div class="login-container">
            {% if user.is_authenticated%}
                <h2>Смена пароля</h2>
            {%else%}
                <h2>Восстановление пароля</h2>
            {%endif%}
            
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-error{% else %}alert-success{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <p class="instruction-text">
                Введите ваш email, и мы вышлем код подтверждения
            </p>
            
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group" style="--index: 1;">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul class="errorlist">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <button type="submit" class="btn btn-primary" style="--index: 2;">
                    Получить код
                </button>
                
                <div class="back-link-container">
                    <a href="{% url 'login_user' %}" class="back-link">
                        ← Вернуться к входу
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}